name: Update Proton Registry

on:
  schedule:
    # Roda diariamente à meia-noite UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
    # Permite rodar manualmente clicando num botão na aba "Actions"

permissions:
  contents: write

jobs:
  update-index:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.2

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version: '1.25.6' # Versão estável recente

    # Compila o binário para garantir que o código está íntegro antes de rodar
    - name: Build Registry App
      run: go build -ldflags="-s -w" -o proton-registry main.go

    # Executa o binário compilado
    - name: Run Registry Update
      run: ./proton-registry

    - name: Commit and Push changes
      run: |
        # Configura o usuário do Git como um Bot
        git config --global user.name 'Proton-Registry-Bot'
        git config --global user.email 'proton-bot@users.noreply.github.com'
        
        # Adiciona explicitamente os dois arquivos gerados
        git add full_index.json smart_index.json
        
        # Lógica de verificação:
        # git diff --staged --quiet retorna erro (exit 1) se houver mudanças para commitar.
        # O "||" pega esse erro e executa o commit.
        # Se não houver mudanças, o comando termina silenciosamente sem erro.
        git diff --staged --quiet || (git commit -m "Update indexes [skip ci]" && git push)
